{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "always",
  "plugins": ["d:/CODE/GITHUB/docs/scripts/prettier-plugin-mdx-spacing.js"],
  "overrides": [
    {
      "files": "*.mdx",
      "options": {
        "parser": "mdx",
        "proseWrap": "preserve"
      }
    }
  ]
}
